// tab-top::root
.tabbable
    ul.nav.nav-tabs
        li(class=(active === "top-artists" ? "active" : undefined))
            a(href='/stats/artists') Artists
        li(class=(active === "top-albums" ? "active" : undefined))
            a(href='/stats/albums') Albums
        li(class=(active === "top-tracks" ? "active" : undefined))
            a(href='/stats/tracks') Tracks
        