.tabbable
    ul.nav.nav-tabs
        li(class=(active === "artist-discoveries" ? "active" : undefined))
            a(href='/stats/artist-discoveries') Artists
        li(class=(active === "album-discoveries" ? "active" : undefined))
            a(href='/stats/album-discoveries') Albums
        