// tab-top::root
.tabbable
	ul.nav.nav-tabs
		li(class=(active === "timeline-month" ? "active" : undefined))
			a(href='/stats/timeline-month') Month
		li(class=(active === "timeline-week" ? "active" : undefined))
			a(href='/stats/timeline-week') Week
		
