// tab-scrobbles-per::root
.tabbable
	ul.nav.nav-tabs
		li(class=(active === "scrobbles-per-hour" ? "active" : undefined))
			a(href='/stats/scrobbles-per-hour') Per hour
		li(class=(active === "scrobbles-per-day" ? "active" : undefined))
			a(href='/stats/scrobbles-per-day') Per day
		li(class=(active === "scrobbles-per-week" ? "active" : undefined))
			a(href='/stats/scrobbles-per-week') Per week
		li(class=(active === "scrobbles-per-month" ? "active" : undefined))
			a(href='/stats/scrobbles-per-month') Per month
		li(class=(active === "scrobbles-per-year" ? "active" : undefined))
			a(href='/stats/scrobbles-per-year') Per year
