// tab-library::root
.tabbable
	ul.nav.nav-tabs
		li(class=(active === "library-artists" ? "active" : undefined))
			a(href='/library/artists') Artists
		li(class=(active === "library-albums" ? "active" : undefined))
			a(href='/library/albums') Albums
		