// pagination::root
nav(aria-label="Pagination")
  ul.pagination
    if pagination.previous
        li.page-item
            a.page-link(href=pagination.getUrl(pagination.previous)) <

    each page in pagination.pages
        li(class=(pagination.current === page ? "active" : undefined)).page-item
            a.page-link(href=pagination.getUrl(page)) #{page}

    if pagination.next
        li.page-item
            a.page-link(href=pagination.getUrl(pagination.next)) >
