extends ../masterpage/layout

append content
	if (success === false)
		p.alert.alert-danger Something went wrong.
	if (success === true)		
		p.alert.alert-success Successfully set password!
	
	// setpassword::content
	p Set a password to use spotify integration.

	form(method='POST' action='')
		div.form-group
			label(for='password') Password:
			input#password.form-control(type='password', placeholder='Password' name='password')

		button.btn.btn-primary(type='submit') Set password