extends masterpage

append body
    .container.container-fluid
        h1 Top tracks

        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Artist
                        th Track
                tbody
                    each val in tracks
                        tr
                            td #{val.artist}
                            td #{val.track}
