block nav
    - var active = "index"

ul.nav.nav-sidebar
    li(class=(active === "index" ? "active" : undefined))
        a(href='/') Home 
    li(class=(active === "recent" ? "active" : undefined))
        a(href='/stats') Recent tracks 
    li(class=(active === "artists" ? "active" : undefined))
        a(href='/stats/artists') Top artists
    li(class=(active === "albums" ? "active" : undefined))
        a(href='/stats/albums') Top albums