block nav
    - var active = "index"

ul.nav.nav-sidebar
    li(class=(active === "index" ? "active" : undefined))
        a(href='/') Recent tracks 
    li(class=(active === "artists" ? "active" : undefined))
        a(href='/artists') Top artists
    li(class=(active === "albums" ? "active" : undefined))
        a(href='/albums') Top albums