extends layout-list

block nav
  - var active = "recent"

append table-content
    thead
        tr
            th Artist
            th Track
    tbody
        each val in tracks
            tr
                td #{val.artist}
                td #{val.track}