block spotify-player
    .spotify-player
        .album-art
        
        .controls
            i.fas.fa-backward(data-toggle='prev')
            i.fas.fa-forward(data-toggle='next')

        span.track
        span.artist
        span.album

        