extends ../masterpage/layout-list

append before-table
	if datefilter
		// scrobbles-per-hour
		include ../shared/date-filter

append table-content
	// scrobbles-per-hour::table-content
	
	thead
		tr
			th #{formatLabel}
			th Scrobbles
	tbody
		each result in results
			tr
				td #{result.unit}
				td(class=(topResult ? "progress-td" : undefined))
					if topResult
						- var value = result.scrobbles
						- var total = topResult.scrobbles
						include ../shared/progress
						
					else
						| #{result.scrobbles}
