extends ../masterpage/layout-list

prepend content
	include ../navigation/tab-timeline

append table-content
	// timeline::table-content
	thead
		tr
			th #{periodLabel}
			th Artist
			th Scrobbles
	tbody
		each artist in artists
			tr(data-type='artist')
				td #{artist.period}
				td(data-search='artist') #{artist.artist}
				td(class=(topResult ? "progress-td" : undefined))
					if topResult
						- var value = artist.scrobbles
						- var total = topResult.scrobbles
						include ../shared/progress

					else
						| #{artist.scrobbles}
