extends ../masterpage/layout-list

append before-table
	if datefilter
		// top-artists::before-table
		include ../shared/date-filter

append table-content
	// top-artists::table-content

	thead
		tr
			th Artist
			th Scrobbles
	tbody
		each artist in artists
			tr
				td #{artist.artist}
				td(class=(topResult ? "progress-td" : undefined))
					if topResult
						- var value = artist.scrobbles
						- var total = topResult.scrobbles
						include ../shared/progress

					else
						| #{artist.scrobbles}
