extends ../masterpage/layout-list

prepend content
	if active.substr(0, 4) === 'top-'
		include ../navigation/tab-top
	if active.indexOf('discoveries') >= 0
		include ../navigation/tab-discoveries

append before-table
	if datefilter
		// top-tracks::before-table
		include ../shared/date-filter

append table-content
	// top-tracks::table-content

	thead
		tr
			th Artist
			th Album
			th Track
			th Scrobbles
	tbody
		each track in tracks
			tr
				td #{track.artist}
				td #{track.album}
				td #{track.track}
				td(class=(topResult ? "progress-td" : undefined))
					if topResult
						- var value = track.scrobbles
						- var total = topResult.scrobbles
						include ../shared/progress
						
					else
						| #{track.scrobbles}