extends layout

append content
    // layout-list::content

    h1 #{title}

    .table-responsive
        table.table.table-striped
            block table-content
                // layout-list::table-content