extends layout

append scripts-head
	if spotify_username
		script(type='text/javascript', src='../js/spotify.js')
	
	script(type='text/javascript', src='../js/autoloader.js')

append content
	// layout-list::content

	h1 #{title}

	block before-table
		//layout-list::before-table

	.table-responsive
		table.table.table-striped
			block table-content
				// layout-list::table-content