extends _bootstrap

append styles
	// layout::styles
	link(href='/css/styles.css', rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap', rel='stylesheet')



block body
	// layout::body
	if modal
		.modal(tabindex='-1', role='dialog', id='modal')
			.modal-dialog(role='document')
				.modal-content
				.modal-header
					h5.modal-title
						block modal-title
				.modal-body
					block content
	else

		nav.sidebar
			include ../navigation/navbar-side.pug
			include ../spotify/player.pug

		.main
			block content
				// layout::content

			block pagination
				// layout::pagination
				if pagination && pagination.pages.length > 1
					include ../shared/pagination
