extends layout

append content
    // layout-list::content

    h1 #{title}

    block before-table
		//layout-list::before-table

    .table-responsive
        table.table.table-striped
            block table-content
                // layout-list::table-content