extends layout

append scripts-head
	if spotify_username
		script(type='text/javascript', src='/js/spotify.js')
	script(type='text/javascript', src='/js/modal.js')
	script(type='text/javascript', src='/js/autoloader.js')
	script(src='/vendor/js/chart.min.js', type='text/javascript')
	script(src='/js/chart.js', type='text/javascript')

		
append content
	// layout-list::content

	//-
		Don't render the title, maybe use it in the redesign.
		if title
			h3 #{title}

	block before-table
		//layout-list::before-table

	.table-responsive
		table.table.table-striped
			block table-content
				// layout-list::table-content