extends layout

append scripts-head
	if spotify_username
		script(type='text/javascript', src='/js/spotify.js')
	script(type='text/javascript', src='/js/modal.js')
		
append content
	// layout-list::content

	if title
		h1 #{title}

	block before-table
		//layout-list::before-table

	.table-responsive
		table.table.table-striped
			block table-content
				// layout-list::table-content