// nav::root
block nav
  - var active = (menu ? menu : "index")

if loggedIn
    ul.nav.nav-sidebar
        li(class=(active === "recent" ? "active" : undefined))
            a(href='/stats') Recent tracks 
        li(class=(active === "top-artists" ? "active" : undefined))
            a(href='/stats/artists') Top artists
        li(class=(active === "top-albums" ? "active" : undefined))
            a(href='/stats/albums') Top albums
        li(class=(active === "artist-discoveries" ? "active" : undefined))
            a(href='/stats/artist-discoveries') Top artist discoveries
        li(class=(active === "album-discoveries" ? "active" : undefined))
            a(href='/stats/album-discoveries') Top album discoveries
            

    ul.nav.nav-sidebar
        li(class=(active === "scrobbles-per-hour" ? "active" : undefined))
            a(href='/stats/scrobbles-per-hour') Scrobbles per hour
        li(class=(active === "scrobbles-per-week" ? "active" : undefined))
            a(href='/stats/scrobbles-per-week') Scrobbles per week
        li(class=(active === "scrobbles-per-month" ? "active" : undefined))
            a(href='/stats/scrobbles-per-month') Scrobbles per month
        