/*============================================
*
* Progress bar
*
=============================================*/

.progress {
	background: transparent;
	height: auto;
	margin-bottom: 0;
}

.progress-bar {
	box-shadow: 0 0 1rem 0rem rgba(0,0,0,1);
	background: linear-gradient(90deg, #164162 0%, #447693 49.46%, #457693 49.47%, #457794 49.48%, #459494 95.83%);
	border-radius: 10px;
	padding: $global-space/8 $global-space/2;
	font-size: $font-100;
	font-weight: $font-weight-bold;
	text-align: left;
}
