/*============================================
*
* Navigation
*
=============================================*/

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $app-side-nav-width;
	position: fixed;
	top:0;
	bottom: 0;
	// overflow: scroll;
	-webkit-overflow-scrolling: touch;

	ul {
		@include clean-ul;
		position: relative;
		z-index: 2;
	}

	.title,
	a {
		padding-left: $global-space;
		text-align: left;
	}

	// Menu item
	a {
		@include transition(all, .3s);
		display: block;
		color: white;
		padding-top: $global-space/2;
		padding-bottom: $global-space/2;
		position: relative;

		&::before{
			@include transition(all, .3s);
			content: '';
			position: absolute;
			background: $darkblue;
			left: -$global-space*.5;
			top: 50%;
			transform: translateY(-50%);
			width: $global-space*.5;
			height: 3px;
			opacity: 0;
		}

		&:focus,
		&:hover {
			background-color: rgba($darkblue, .25);
			text-decoration: none;

			&::before{
				left: 0;
				opacity: 1;
			}
		}
	}

	.title {
		margin-top: $global-space;
		margin-bottom: $global-space/4;
		font-size: $font-75;
		color: $darkblue;
		text-transform: uppercase;
		font-weight: $font-weight-semibold;
	}

	// logo
	.logo a {
		font-size: $font-130;
		font-weight: $font-weight-bold;
		padding: $global-space 0 $global-space/1.5;
		color: white;
		text-transform: lowercase;
		text-align: center;

		&:focus,
		&:hover {
			background-color: transparent;
		}
	}
}
