/*============================================
*
* Navigation
*
=============================================*/

.sidebar {
	@include shadow;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $app-side-nav-width;
	position: fixed;
	top:0;
	bottom: 0;
	// overflow: scroll;
	-webkit-overflow-scrolling: touch;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: rgba($darkgray, .4);
	}

	ul {
		@include clean-ul;
		position: relative;
		z-index: 2;

		// Stripe on bottom of anchors
		li:not(:first-child):not(:last-child) {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				height: 1px;
				left: $global-space;
				right: $global-space;
				background-color: rgba(white, .05);
			}
		}
	}

	// Menu item
	a {
		@include transition(all, 2s);
		display: block;
		color: rgba(white, .7);
		text-align: center;
		padding: $global-space/2;

		&:focus,
		&:hover {
			@include transition(all, .3s);
			color: white;
			background-color: rgba(white, .05);
			text-decoration: none;
		}
	}

	.title a {
		font-size: $font-130;
		font-weight: $font-weight-bold;
		padding: $global-space 0 $global-space/1.5;
		color: white;
		text-transform: lowercase;

		&:focus,
		&:hover {
			@include transition(all, .3s);
			color: white;
			background-color: transparent;
		}
	}

	// Background image and overlay
	.navbar-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
	}

	// -inner because jQuery cant change ::before image
	.navbar-bg-inner {
		// TODO: Define fallback when no song is playing
		@include transition(all, 3s);
		overflow: hidden;
		position: absolute;
		top: -$global-radius;
		right: -$global-radius;
		left: -$global-radius;
		bottom: -$global-radius;
		overflow: hidden;
		border-radius: 0 $global-radius $global-radius 0;
		background-image: url('../img/placeholder.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(50px);
		-webkit-filter: blur(50px);
	}
}
